spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/SkillSwap
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: your-dev-secret-change-this
  expiration-ms: 3600000
